{% extends 'setup_base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<h1 class="page-header">Welcome !</h1>
<h2>This wizard will help you to configure your proxy server.</h2>

<p class="lead">Please check that you have the following requeriments installed:</p>
<ul class="lead">
    <li>MySql or Postgres or Orable databases</li>
    <li>Soft 2</li>
    <li>Soft 3</li>
</ul>
<p class="lead"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>

<div>
    <a class="pull-right btn btn-primary" href="{% url 'setup:environment' %}">Yes, I already installed all requirements.</a>
</div>

{% endblock %}

