<h1>CONFIGURE DATABASE</h1>
<p>Si vas a usar una DB que no sea sqlite acordate de instalar primero el engine que corresponda a la db.<br>
  mysql o psycopg</p>

<form action="." method="post">
  {% csrf_token %}
  <input type="radio" name="db_type" value="sqlite" checked> Sqlite <br>
  <input type="radio" name="db_type" value="mysql"> MySql <br>
  <input type="radio" name="db_type" value="postgres"> Postgres
<br><br>
  Host:<br>
  <input type="text" name="db_host" value="localhost"><br><br>
  Port:<br>
  <input type="text" name="db_port" value="3306"><br><br>
  Database name:<br>
  <input type="text" name="db_name" value=""><br><br>
  User:<br>
  <input type="text" name="db_user" value=""><br><br>
  Password:<br>
  <input type="text" name="db_pass" value="">
<br><br>
  <button type="submit">Next</button>
</form>
