<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Proxy Setup</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="https://getbootstrap.com/docs/3.3/assets/css/docs.min.css" />

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">
            {% if messages %}
            <div class="bs-callout bs-callout-danger"> 
                <h4>Error:</h4> 
                {% for message in messages %}
                <p>{{message}}</p> 
                {% endfor %}
            </div>
            {% endif %}
            {% block content %}{% endblock %}                    
        </div>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        {% block scripts %}{% endblock %}                    


    </body>
</html>
