{% extends 'setup_base.html' %}

{% block content %}

<h1>CONFIGURE DATABASE</h1>
<p>Si vas a usar una DB que no sea sqlite acordate de instalar primero el engine que corresponda a la db.<br>
  mysql o psycopg</p>

<form class="form-horizontal" action="." method="post" >
  {% csrf_token %}
<br>
  Python Interpreter:<br>{{ python | safe }}<br><br>

  <input type="radio" name="db_type" value="sqlite" checked> Sqlite <br>
  <input type="radio" name="db_type" value="mysql"> MySql <br>
  <input type="radio" name="db_type" value="postgres"> Postgres
<br><br>
  Host:<br>
  <input class="db mysql postgres" type="text" name="db_host" value="localhost"><br><br>
  Port:<br>
  <input class="db mysql postgres" type="text" name="db_port" value="3306"><br><br>
  Database name:<br>
  <input class="db sqlite mysql postgres" type="text" name="db_name" value=""><br><br>
  User:<br>
  <input class="dbmysql postgres" type="text" name="db_user" value=""><br><br>
  Password:<br>
  <input class="db mysql postgres" type="text" name="db_pass" value="">
<br><br>

  <button class="btn btn-primary" type="submit">Next</button>
</form>

{% endblock %}


{% block scripts %}
<script type="text/javascript">
  
$(document).ready(function() {

  $('input[name=db_type]').on('change', function(ev) {
    if ($(this).is(':checked')) {
      $('input[type=text].db').hide()
      $('input[type=text].db').val('')
      $('input[type=text].' + $(this).val()).show()

      if ($(this).val() === 'sqlite') {
        $('input[name=db_name]').val('db.sqlite3')
      }
      if ($(this).val() === 'mysql') {
        $('input[name=db_host]').val('localhost')
        $('input[name=db_port]').val('3306')
      }
    }
  }) 

  $('input[name=db_type]').trigger('change');

});

</script>

{% endblock %}                    

